body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "yi yi v"
    "r g v"
    "r p p";
  gap: 30px;

}

div:nth-child(1) {
  grid-area: yi;
  background: yellow;

}

div:nth-child(2) {

  grid-area: v;
  background: purple;
}

div:nth-child(3) {

  grid-area: g;
  background: green;
}

div:nth-child(4) {

  grid-area: r;
  background: red;
}

div:nth-child(5) {

  grid-area: p;
  background: orchid;
}

%